/* CSS Document */
*{
	padding: 0px;
	margin: 0px;	
	font-family: 微软雅黑,宋体;
	color: #444444;
}
body{
/*	background-color: #0078D7;*/
}
a{
	text-decoration: none;
}
#welcome{  /*顶部下滑图片*/
	margin: 0 auto;
	display: block;
	margin-top: -707px;
	}
.title{
	text-align: center;
}
/*焦点广告 start*/
#jiaodian{
	width: 1000px;
	height: 430px;
	margin: 0 auto;
	background: black;
}
#jiaodian img{
	width: 500px;
	float: left;
}
/*焦点广告 over*/

/*.top_box 页面顶部 start*/
.top_box{
	height: 50px;
	background: white;
/*		#221F1F;*/
	position: relative;
	z-index: 7;
	border-bottom: 2px solid #0078D7;
	opacity: 0.85;
	filter: alpha(opacity=85);
}
.content{
	margin: 0 auto;
	width: 1080px;
}
.top_box .content a img{
	float: left;
}
.top_box .content h3{
	line-height: 70px;
	text-align: right;
	color: #0078D7;
}
.top_box .search{
	position: absolute;
	top: 10px;
	left: 380px;
}
/*.top_box 页面顶部 over*/
/*.main_box 主页面 start*/
.main_box{
	width: 1080px;
	margin: 0 auto;
	position: relative;
	padding-top: 20px;
/*	background: yellow;*/
}
/*轮换板效果 start*/
#flash{
		position: relative;
		width: 848px;
		height: 340px;
}
#flash img{
	position: absolute;
	top: 0px;
	left: 0px;
	display: none;
	width: 892px;
	height: 340px;
}
#flash img.cur{
	display: block;
}
#flash ul{
	position: absolute;
	right: 0px;
	top: 300px;
}
#flash ul li{
	float: left;
	list-style: none;
	width: 22px;
	height: 22px;
	line-height: 22px;
	text-align: center;
	color: white;
	font-size: 12px;
	font-family: arial;
	background: #999999;
	margin-right: 5px;
	border-radius: 11px;
}
#flash ul li.cur{
	background: #E4393C;
}
/*轮换板效果 over*/
/*jquery tab切换页 start*/
.tab{
	border: 2px solid #0078D7;
	border-radius: 7px;
	width: 848px;
	height: 250px;
	margin-top: 20px;
	padding: 20px;
	position: relative;
}
.tab .huakuai{
	width: 212px;
	height: 2px;
	background: #0078D7;
	position: absolute;
	top: 72px;
	left: 20px;
}
.tab .title li{
	list-style: none;
	width: 212px;
	height: 50px;
	line-height: 50px;
	font-size: 20px;
	float: left;
	text-align: center;
}
.tab .con{
	width: 848px;
	height: 300px;
	position: absolute;
	top: 74px;
	display: none;		
}
.tab .con p{
	text-indent: 2em;
}
/*jquery tab切换页 over*/
/*文章框架 start*/
.contentBox{
	border: 2px solid #0078D7;
	border-radius: 7px;
	width: 848px;
	height: auto;
	padding: 20px;
	margin-top: 20px;
	position: relative;
}
.contentBox h3{
/*	display: inline-block;*/
	text-align: center;
}
.contentBox i{
	font-style:normal;
	font-size: 13px;
	display: block;
	text-align: right;
}
.contentBox p{
	text-indent: 2em;
	line-height: 1.5em;
}
.contentBox img{
	position: relative;
}
/*文章框架 over*/
/*.side 侧边 start*/
.main_box #side{
	width: 170px;
	position: absolute;
	top: 0px;
	right: 0px;
	padding-top: 20px;
}
#side li{
	list-style: none;
	color: #FFFFFF;
	background: #0078D7;
	margin-bottom: 10px;
	border-radius: 7px 7px 0px 0px;
}
#side li a{
	color: #FFFFFF;
	display: block;
	height: 40px;
	line-height: 40px;
	text-align: center;
}
#side li div{
	background: white;
	width: 166px;
	height: 100px;
	border: 2px solid #0078D7;
	display: none;
}
/*.side 侧边 over*/
/*.main_box 主页面 over*/
/*.foot_box 页面底部 start*/
.foot_box{
	height: 50px;
	margin: 0 auto;
}
.foot_box span{
	display: inline-block;
	line-height: 50px;
	width: 400px;
	text-align: left;
}
/*.foot_box 页面底部 over*/